@using MeetingApp.Models
@model UserInfo

@{
    var className = @Model.WillAttend == true ? "primary" : "danger";
}
<main class="text-center">
    <h1 class="h4">Başvuru Detayı</h1>
    <p>
        <span class="badge text-bg-@className">@(Model.WillAttend == true ? "Katılıyor" : "Katılmıyor")</span>
    </p>
    <p>İsim: @Model.Name</p>
    <p>Email: @Model.Email</p>
    <p>Telefon: @Model.Phone</p>
    <a asp-controller = "Meeting" asp-action = "List" class="btn btn-outline-@className">Katılımcı Listesi</a>
</main>